html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    min-width: 320px;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 50px 0;
}

a {
    color: #111;
}

a:hover {
    color: #555;
}

/*HEADER*/

.logo {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    color: #111;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}

.page__links {
    border-radius: 25px;
    padding: 6px;
    background-color: blue;
    color: #fff;
}

/* .top-menu li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #111;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}

.top-menu li a:hover::after {
    transform: scale(1);
} */

.modal-body img {
    max-width: 100px;
}

/* Carousel */

.my-carousel {
    padding: 0;
}

.my-carousel .carousel-item {
    display: flex;
    max-height: 700px;
}

.my-carousel .carousel-item img {
    object-fit: cover;
}

/* Carousel*/

.team-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    transition: all .3s;
    text-align: center;
}

.team-card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.team-thumb a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 20px;
}

.team-thumb img {
    max-width: 100%;
    max-height: 100%;
}

.team-details {
    padding: 20px;
}

.team-details h4 a {
    font-weight: 500;
    display: block;
    height: 60px;
    overflow: hidden;
    text-decoration: none;
}

.team-details p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #999;
    height: 44px;
    overflow: hidden;
}

.team-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.team-links a {
    font-size: 20px;
    margin-left: 10px;
}

/* Video start */

.whiteblue-bg-bottom {
    background: linear-gradient(rgba(255, 255, 255, 0) 60%, #5F5AEC 60%);
}

.videoobzor_wrap {
    padding-bottom: 0em;
    padding-top: 0em;
}

.wrap {
    max-width: 1165px;
    min-width: 320px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

.tcenter {
    text-align: center;
}

.pb07 {
    padding-bottom: 0.7em;
}
h2 {
    font-size: 2.824em;
    line-height: 1.3em;
}
h2 {
    color: #08132F;
    font-family: 'SFPro-Medium','Arial',sans-serif;
}

.videoobzor {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 2em;
}

.videoobzor iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}

.footer {
    background-color: #343434;
}

.footer h4 {
    color: #ccc;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #666;
    padding-bottom: 3px;
}

.footer a {
    text-decoration: none;
    transition: all .3s;
}

.footer a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer a, .footer li {
    color: #c8c8c8;
}

.footer li a {
    display: block;
}

.footer-icons a {
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}


/* Media */

@media(max-width: 380px) {
    .page__links: {
        border-radius: 0;
        font-size: 1em;
    }
}